main {
  height: 100vh;
  // background-image: url('../sample-layout/mountain-bkrnd.jpg');
  // background-image: url('../sample-layout/snowing.jpg');
  // background-image: url('../sample-layout/raining2.jpg');
  // background-image: url('../sample-layout/sunny.jpg');
  // background-image: url('../sample-layout/foggy.jpg');
  // background-image: url('../sample-layout/stormy.jpg');
  // background-image: url('../sample-layout/spring.jpg');
  // background-image: url('../sample-layout/fall.jpg');
  // background-image: url('../sample-layout/night.jpg');

  background-size: cover;
  background-repeat: no-repeat;
}

.sunny {
  background-image: url('../sample-layout/sunny.jpg');
}

.snowy {
  background-image: url('../sample-layout/snowing.jpg');

}

.cloudy {
  background-image: url('../sample-layout/cloudy.jpg');
}

.rainy {
  background-image: url('../sample-layout/raining2.jpg');

}

.foggy {
  background-image: url('../sample-layout/foggy.jpg');
}

.stormy {
  background-image: url('../sample-layout/stormy.jpg');
}

.smoke {
  background-image: url('../sample-layout/smokey.jpg');
}

.volcano {
  background-image: url('../sample-layout/volcano.jpg');
}

.dusty {
  background-image: url('../sample-layout/sand-storm.png');
}

.clear-cold {
  background-image: url('../sample-layout/mountain-bkrnd.jpg');
}

.clear-night {
  background-image: url('../sample-layout/night.jpg');
}



.main-banner {
  height: 550px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  position: absolute;
  top: 120px;
  left: .5%;
  height: 400px;
  width: 99%;
  background-color: rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 909px) {
  .container {
    top: 171px;
  }
}

@media screen and (max-width: 450px) {

  main {
    background-image: url('../sample-layout/sunny-mobile.jpg');
    // background-image: url('../sample-layout/cloudy-mobile.jpg');
    // background-image: url('../sample-layout/rainy-mobile.jpg');
    // background-image: url('../sample-layout/snowy-mobile.jpg');
    // background-image: url('../sample-layout/thunder-mobile.jpg');
  }


  .main-banner {
    height: 240px;
    width: 100%;
  }
  .container {
    // display: none;
    top: 240px;
    left: 0;
    height: 330px;
    width: 100%;
  }
}