.hourly-card {
  height: 40px;
  padding: 10px 0 0 20px;
  margin-bottom: 4px;
  background-color: rgba(40, 53, 67, 0.6);
}

.hourly-card ul {
  display: grid;
  grid-template-rows: 28px;
  grid-template-columns: 80px 30px 30px 120px 80px;
  grid-column-gap: 20px;
  justify-content: left;
}

.hourly-card li{
  grid-row: 1;
  font-size: 18px;
  color: #FFFFFF;
}

.hourly-card img {
  height: 22px;
  vertical-align: text-bottom;
}

.ten-day-card {
  display: inline-block;
  margin: 0 5px;
  height: 190px;
  width: 126px;
  vertical-align: top;
  background-color: rgba(40, 53, 67, 0.7);
}

.ten-day-card ul {
  padding-top: 9px;
}

.ten-day-card img{
  height: 72px;
  width: 72px;
}

.ten-day-card li {
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}

#date {
  margin: -15px 0 10px 0;
  font-size: 22px;
}

.ten-day-card i {
  font-size: 56px;
}

@media screen and (max-width: 450px) { 
  .hourly-card {
    padding: 10px 0 0 10px;
  }

  .hourly-card li {
    margin-right: 15px;
    font-size: 18px;
  }

   .ten-day-card {
    width: 150px;
    margin-top: 5px;
  }
}