.local-weather {
  display: inline-block;
  height: 400px;
  width: 50%;
  min-width: 450px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  color: #FFFFFF;
  margin: 19px 0px 0px 20px;
}

h4 {
  font-family: 'EB Garamond', serif;
  font-size: 156px;
  color: #FFFFFF;
}

.local-weather-div {
  display: flex;
  align-items: center;
  margin: 37px 0px 0px 7px;
}

.local-weather-div-two{
  margin-top: 0px;
}

.local-weather-temp {
  margin-left: 16px;
}

h5 {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  color: #FFFFFF;
}

.local-weather img {
  height: 28px;
  margin: 5px 0px 0px 5px;
  vertical-align: text-bottom;
}

.temp {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  color: #DCC7AF;
}

.low {
  color: #478FDE;
}

.forecast {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 909px) {
  h1 {
    font-size: 65px;
  }
}

// @media screen and (max-width: 450px) {
//   .local-weather {
//     display: inline-block;
//     height: 330px;
//     width: 100%;
//   }
//   h1 {
//     font-size: 56px;
//   }

//   h4 {
//     float: none;
//     margin-top: 10px;
//     font-size: 102px;
//   }
// }
