.local-weather {
  display: inline-block;
  height: 400px;
  min-width: 450px;
  width: 50%;
}

h1 {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  margin: 19px 0px 0px 20px;
}

h4 {
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 156px;
}

.local-weather-div {
  align-items: center;
  display: flex;
  margin: 37px 0px 0px 7px;
}

.local-weather-div-two{
  margin-top: 0px;
}

.local-weather-temp {
  margin-left: 16px;
}

h5 {
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}

.local-weather img {
  height: 28px;
  margin: 5px 0px 0px 5px;
  vertical-align: text-bottom;
}

.temp {
  color: #DCC7AF;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
}

.low {
  color: #478FDE;
}

.forecast {
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

@media screen and (max-width: 909px) {
  h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 450px) {
  .local-weather {
    min-width: 320px;
  }

  h1 {
    font-size: 49px;
    margin: 0px;
    text-align: center;
  }

  .local-weather-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .local-weather-div-two {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .forecast {
    width: 95%;
  }
}
