header {
  height: 80px;
  background-color: transparent;
}

h2 {
  float: left;
  display: inline-block;
  margin: 7px 0 0 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 72px;
  color: #283543;
  text-shadow: 1px 1px 1px #B69677;
  // background-color: rgba(270, 270, 270, 0.2);

}

@media screen and (max-width: 450px) {
   header {
    height: 160px;
  }
  h2 {
    float: none;
    display: block;
    text-align: center;
  }
}