header {
  background-color: transparent;
  height: 80px;
}

h2 {
  color: #283543;
  display: inline-block;
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 72px;
  margin: 7px 0 0 6px;
  text-shadow: 1px 1px 1px #B69677;
}

@media screen and (max-width: 909px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h2 {
    margin: 120px 0 0 0;
  }
}