.mobile-menu {
  visibility: hidden;
}

@media screen and (max-width: 450px) {
  .mobile-menu {
    visibility: visible;
    margin-top: 20px;
    display: flex;
    height: 60px;
    width: 100%;
  }
  
  .mobile-menu li {
    text-align: center;
    padding-top: 5px;
    width: 33%;
    border: 2px solid black;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
  }

  .mobile-menu p {
    display: inline;
  }

}