form {
  float: right;
  display: inline-block;
  width: 50%;
  opacity: 0.8;
}

#main-search {
  margin: 21px 0 0 0;
}

#search {
  width: 80%;
  height: 50px;
  vertical-align: top;
  font-size: 28px;    
  border-radius: 12px;
  margin-right: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

#search::placeholder {
  font-size: 28px;
  color: #FFFFFF;
}

#search, textarea {
  color: #FFFFFF;
}

.submit-search {
  border: none;
  margin-left: -4px;
  height: 50px;
  width: 12%;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  border: 2px solid #C1C2CA;
  outline: none;
}

.submit-search:hover {
    background-color: #FFFFFF;
    color: black;
}

@media screen and (max-width: 909px) {
  #main-search {
    margin: 21px 0 0 4px;
    width: 98%
  }
}

@media screen and (max-width: 450px) {
  form {
    float: none;
    padding-left: 0;
    width: 100%;

  }
  #search {
    width: 80%;
  }
  .submit-search {
    width: 20%;
  }

}
