form {
  display: inline-block;
  float: right;
  opacity: 0.8;
  width: 50%;
}

#main-search {
  margin: 21px 0 0 0;
}

#search {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  font-size: 28px;    
  height: 50px;
  margin-right: 2%;
  outline: none;
  vertical-align: top;
  width: 80%;
}

#search::placeholder {
  color: #FFFFFF;
  font-size: 28px;
}

#search, textarea {
  color: #FFFFFF;
}

.submit-search {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 2px solid #C1C2CA;
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  height: 50px;
  margin-left: -4px;
  outline: none;
  width: 12%;
}

.submit-search:hover {
  background-color: #FFFFFF;
  color: black;
}

@media screen and (max-width: 909px) {
  #main-search {
    margin: 21px 0 0 4px;
    width: 98%
  }
}

@media screen and (max-width: 450px) {
  .submit-search {
    width: 18%;
  }

  #search::placeholder {
    font-size: 20px;
  }

}