.hourly {
  display: grid;
  justify-content: center;
  margin: 29px 0 0 0;
  height: 350px;
  width: 50%;
  min-width: 450px;
}

@media screen and (max-width: 450px) {
  .hourly {
    display: none;
    height: 330px;
    width: 100%;
    margin: 0;
  }
}