.ten-day {
  margin-left: 20px;
  height: 205px;
  width: 1400px;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: #BCD0E9;*/
}


@media screen and (max-width: 450px) {
  .ten-day {
    // display: flex;
    display: none; 
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    height: 400px;
    width: 100%;
    overflow: scroll;
  }
}