.ten-day {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
  height: 205px;
  width: 98%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: #BCD0E9;*/
}

@media screen and (max-width: 909px) {
  .ten-day {
    margin: 47px 0 0 0;
    width: 100%;
  }
}

// @media screen and (max-width: 450px) {
//   .ten-day {
//     display: none; 
//     flex-wrap: wrap;
//     justify-content: center;
//     height: 400px;
//     width: 100%;
//     overflow: scroll;
//   }
// }