.welcome {
  background-image: url('../sample-layout/Welcome-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.welcome h2 {
  margin-bottom: 100px;
}

.welcome-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 173px 2%;
  width: 95vw;
}

.greeting {
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  text-align: center;
}

form {
  margin: 10px -55px 0 0;
  padding: 0 !important;
}

@media screen and (max-width: 909px) {
  .welcome h2 {
  margin-top: 10px;
  }
}